.carousel-native-reverse {
  z-index: 9 !important;
}
.carousel-native {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 600px;
  overflow: visible;

  .carousel-title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    z-index: 10;
    transition: all 0.3s ease;

    &.reverse {
      top: auto;
      bottom: 15%;
    }
  }

  .carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(-144px) translateX(-133px) scale(0.87);
    transition: transform 1s ease;
  }
  .carousel-container-reverse {
    transform: translateY(-575px) translateX(-133px) scale(0.87)
  }
  .carousel-container-reverse-return {
    transform: translateY(-625px) translateX(-133px) scale(0.87)
  }
  .carousel-container.anim {
    // animation: scaleAndTranslate 1s ease forwards;
    transform: translateY(0) translateX(0) scale(1);
  }
  .carousel-container.return-anim {
    animation: scaleAndTranslateReturn 1s ease forwards;
  }

  .carousel-item {
    position: absolute;
    width: 280px;
    height: 280px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease-in-out,filter 0.5s ease;
    .carousel-image {
      width: 100%;
      height: 100%;
      will-change: transform;
      border-radius: 50%;
      cursor: pointer;
      user-select: none;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .cursor-hint {
    position: absolute;
    width: 24px;
    height: 24px;
    pointer-events: none;
    z-index: 20;
  }
}
@keyframes scaleAndTranslate {
  0% {
    // transform: translateY(-81px) translateX(-73px) scale(0.87);
  }
  100% {
    transform: translateY(0) translateX(0) scale(1);
  }
}
@keyframes scaleAndTranslateReturn {
  0% {
    transform: translateY(0) translateX(0) scale(1);
  }
  100% {
    transform: translateY(-81px) translateX(-73px) scale(0.87);
  }
}